.trans_form{
    min-width: 500px;
    background: white;
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
    .my-form-group{
        margin: 1em 0;
        .text-input{
            width: 100% !important; 
        }
        button{
            min-width: 100px;
        }
    }
    .btn-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .radio-container{
        div{
            display: flex !important;
            flex-direction: row !important; 
        }
    }


}