.trans_form{
    min-width: 400px;
    .my-form-group{
        margin: 1em 0;
        .text-input{
            width: 100% !important; 
        }
        button{
            min-width: 100px;
        }
    }
    .btn-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .radio-container{
        div{
            display: flex !important;
            flex-direction: row !important; 
        }
    }


}